<c-corporate-header [siteName]="siteName"></c-corporate-header>

<c-main-content>
  <c-main-navigation>
    <primary-items>
      <!-- <nav-item *ngFor="let item of items">{{item.name}}</nav-item> -->
      <nav-item *ngFor="let item of items">
        <a href="#">{{item.name}}</a>
      </nav-item>
      <!-- <ng-template ngFor let-item [ngForOf]="items">
        <nav-item>{{item.name}}</nav-item>
      </ng-template> -->
      <!-- <ng-container *ngFor="let item of items">
        <nav-item *ngIf="item.name">{{item.name}}</nav-item>
      </ng-container> -->
    </primary-items>
  </c-main-navigation>

  <section>  
    <div class="container">
      <h1>Welcome to {{siteName}}!</h1>
      <p>Some text goes here</p>

      <div class="panel">
        <form class="panel-body" #form="ngForm" (ngSubmit)="addItem(form.value)">
          <input type="text" name="name" class="form-control" placeholder="item name" ngModel>
          <button class="btn btn-primary">Add item</button>
        </form>
      </div>
    </div>
  </section>
</c-main-content>

<c-corporate-footer></c-corporate-footer>